/* agregar aumento de texto debado del títuloo */


.row-header{
    margin: 0px auto;
    padding: 0px auto;
}

.row-content{
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
}
.mb-0{
    font-style: italic;
}
.row-ourhistory {
    margin: 0px auto;
    padding: 50px 50px 0px 50px;
    border-bottom: 1px ridge;
    min-height: 400px;
}
.row-card{
    margin: 0px auto;
    padding: 50px 15px 0px 15px;
    border-bottom: 1px ridge;
    min-height: 400px;
}

.row-corporateleader{
    margin: 0px auto;
    padding: 20px 50px 50px 10px;
    border-bottom: 1px ridge;
    min-height: 400px;
}
.row-aboutus{
    margin: 0px auto;
    padding: 0px 30px 0px 0px;
    border-left: 60px ;
    min-height: 0px;
}

.footer {
    background-color: #D1C4E9;
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
}

.jumbotron{
    padding: 70px 40px 70px 30px;
    margin: 0px auto;
    background: #9575CD;
    color: floralwhite;
}

.adress{
font-size: 80%;
margin: 0px;
color: #0f0f0f;
}

body{
    padding: 25px 0px 0px 0px; /* Para alejar la barra de el body en el top*/
    z-index: 0; /* para superponer el elemento (revisar documentación)*/
}

.navbar-dark{
    background-color: #4B0082;
}